<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
    <script>
        function createClient() {
            const clientNameBox = document.getElementById('clientNameBox');
            const clientAddressBox = document.getElementById('clientAddressBox');
            const clientPhonesBox = document.getElementById('clientPhonesBox');

            const client = {
                name: clientNameBox.value,
                address: clientAddressBox.value,
                phones: clientPhonesBox.value.split(",").map(s => s.trim())
            };

            fetch('/api/client', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(client)
            })
                .then(response => response.json())
                .then(user => createClientDataContainer.innerHTML = JSON.stringify(user, null, 4));
        }
    </script>
    <script>
        function getAll() {
            const clientDataContainer = document.getElementById('clientDataContainer');

            fetch('api/client')
                .then(response => response.json())
                .then(user => clientDataContainer.innerHTML = JSON.stringify(user, null, 4));
        }
    </script>
    <style type="text/css">
        input {
            width: 400px;
        }
    </style>
</head>

<body>

<h4>Создать клиента</h4>
<input type="text" id = "clientNameBox" value="Alex" placeholder="Введите имя клиента">
<input type="text" id = "clientAddressBox" value="Tverskaya street" placeholder="Введите адрес клиента">
<input type="text" id = "clientPhonesBox" value="+79991231234" placeholder="Введите телефоны клиента">
<button onclick="createClient()">Создать</button>
<pre id = "createClientDataContainer"></pre>

<h4>Получить список клиентов</h4>
<button onclick="getAll()">Получить</button>
<pre id = "clientDataContainer"></pre>

</body>
</html>